/* 슬라이드 공통문항 */
.swiper-button-next,
.swiper-button-prev{
  color: rgba(0, 0, 0, 0.4);;
}
.swiper-slide p{
  margin-left: 10px;
}
.swiper-slide .name{
  font: 500 1rem/2rem 'sans-serif';
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.swiper-slide .point{
  font: 800 1rem/2rem 'sans-serif';
  color: var(--mainColor);
}
.swiper-slide .price{
  font: 300 1rem/1.5rem 'sans-serif';
}
.swiper-slide .txt{
  font: 300 .8rem/1rem 'sans-serif';
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 슬라이드 */
main{
    width: 100%;
    margin-top: 120px;
}
main .slide{
  width: 100%;
}
.slide img{
  width: 100%;
  display: block;
}
.slide .swiper-pagination-bullet {
    width: 20px;
    height: 20px; 
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(255, 255, 255, 0.3);
  }
  .slide .swiper-pagination-bullet-active {
    background: #ffffff;
    transition: all .3s;
  }
  /* 신상품 */
  main .new{
    width: 100%;
    margin: auto;
    margin-top: 150px;
    padding:80px 0;
    box-sizing: border-box;
    background-color: var(--bgColor);
  }
  .new h2{
    max-width: 1440px;
    margin: auto;
    font: 900 1.5rem/3rem 'sans-serif';
    text-transform: capitalize;
  }
  .new .newslide{
    max-width: 1440px;
    margin: auto;
  }
  .newslide .swiper-wrapper{
    width: 100%;
    display: flex;
  }
  .newslide img{
    width: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid var(--basicColor);
    box-sizing: border-box;
  }
  /* 베스트 18개 */
  main .best{
    max-width: 1440px;
    margin: auto;
    margin-top: 150px;
  }
  .best h2{
    font: 900 1.5rem/3rem 'sans-serif';
    text-transform: capitalize;
  }
  .best .bestslide{
    width: 100%;
  }
  .bestslide .swiper-wrapper{
    width: 100%;
    display: flex;
  }
  .bestslide .swiper-slide ul{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 20px;
  }
  .bestslide .swiper-slide li{
    width: 272px;
  }
  .bestslide .swiper-slide li img{
    width: 100%;
    object-fit: cover;
    display: block;
  }

  /*  */
  main .cont{
    width: 100%;
    margin-top: 200px;
  }
  .cont ul{
    width: 100%;
    display: flex;
  }
  .cont li{
    width: 50%;
  }
  .cont img{
    width: 100%;
  }

  /* 엠디 */
  main .md{
    max-width: 1440px;
    margin: auto;
    margin-top: 200px;
    position: relative;
  }
  .md h2{
    text-align: center;
    font: 900 1.5rem/3rem 'sans-serif';
    text-transform: capitalize;
  }
.md .pick{
    width: 980px;
    margin: auto;
    border: 1px solid red;
}
.pick .swiper-wrapper{
  width: 100%;
}
.pick .swiper-slide img{
  width: 100%;
}
.md .swiper-button-next,
.md .swiper-button-prev{
  width: 200px;
  height:100%;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 0;
}
.md .swiper-button-next{
  top: 0;
  right: 30px;
}
.md .swiper-button-prev{
  top: 0;
  left:30px;
}
   /* 엠디 */
   main .review{
    width: 100%;
    margin-top: 150px;
    padding-top: 80px;
    padding-bottom: 200px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--bgColor);
  }
  .review h2{
    max-width: 1440px;
    margin: auto;
    text-align: center;
    font: 900 1.5rem/3rem 'sans-serif';
    text-transform: capitalize;
  }
  .review .reviewarp{
    max-width: 1440px;
    margin: auto;
  }
  .reviewarp .swiper-slide img{
    width: 100%;
    border: 1px solid var(--basicColor);
    box-sizing: border-box;
    display: block;
  }


  /* 회원가입페이지 */
main .section{
  max-width: 1440px;
  margin: auto;
}
.section .title{
  width: 100%;
  padding: 100px;
  box-sizing: border-box;
  text-align: center;
}
.title p{
  font: 300 1rem/3rem 'sans-serif';
  color: var(--pointColor);
}
main .join{
  width: 100%;
  position: relative;
  padding: 0 0 150px;
}
.join .txt{
  max-width: 1440px;
  margin: auto;
  text-align: right;
  font: 300 .8rem/1rem 'sans-serif';
  color: var(--pointColor);
}
.join form{
  max-width: 1440px;
  box-sizing: border-box;
  margin: auto;
}
form .formlist li{
  width: 100%;
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--lineColor);
  border-left: 1px solid var(--lineColor);
  border-right: 1px solid var(--lineColor);
  font: 400 .9rem/3rem 'sans-serif';
  position: relative;
}
form .formlist li:last-child{
  border-bottom: 1px solid var(--lineColor);
}
form p:nth-of-type(1){
  width: 100px;
  padding:0 20px;
  border-right: 1px solid var(--lineColor);
  position: relative;
  background-color: var(--bgColor);
}
form .point::after{
  content: '*';
  margin-left: 5px;
  color: var(--pointColor);
}
form li span{
  font: 400 .8rem/3rem 'sans-serif';
  color: var(--basicColor);
}
form li input{
  width: 180px;
  margin: 10px;
  border: 1px solid var(--lineColor);
}
form li:nth-of-type(5){
  height: 6rem;
  position: relative;
}
form li:nth-of-type(5) div:nth-of-type(2){
  position: absolute;
  bottom: 0;
  left: 140px;
}
form li:nth-of-type(5) input{
  height: 30px;
  border: 1px solid var(--lineColor);
  padding: 5px;
  box-sizing: border-box;
}
form li .postcode{
  width: 120px;
}
form li button{
  width: 60px;
  height: 30px;
  border: 1px solid var(--lineColor);
  background-color: var(--bgColor);
}
form li .address{
  width: 300px;
}
form li .phone{
  width: 60px;
  height: 30px;
  line-height: 3rem;
  margin: 10px;
  padding-left: 5px;
  box-sizing: border-box;
  border: 1px solid var(--lineColor);
}
form li .tel{
  width: 100px;
  padding-left: 10px;
  box-sizing: border-box;
}
form li .email{
  width: 320px;
}

/* 로그인화면 */
main .loginwrap{
  max-width: 1440px;
  margin: auto;
}
.loginwrap .login{
  width: 460px;
  margin: 250px auto 150px;
}
.login .logo{
  display: block;
  width: 100px;
  margin: auto;
}
.login .logo img{
  width: 100%;
  object-fit: cover;
}
.login h2{
  line-height: 50px;
  margin-top: 50px;
}
.login p{
  margin-top: 20px;
}
.login .kakabtn{
  display: block;
  width: 100%;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  font-weight: 900;
  background: #fee500 url(//storage.keepgrow.com/admin/campaign/20200611043456590.svg)  no-repeat 5% center;
  margin: 50px 0;
}
.login .or{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.login .or::before{
  content: '';
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 160px;
  height: 1px;
  background-color: var(--lineColor);
}
.login .or::after{
  content: '';
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 160px;
  height: 1px;
  background-color: var(--lineColor);
}

/* 로그인폼 */
.login .formwrap{
  width: 100%;
}
.formwrap input{
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid var(--lineColor);
  padding: 20px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.formwrap ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.formwrap .id_save{
  width: 50%;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.id_save input[type="checkbox"]{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  margin: 0;
  background: var(--lineColor);
}
.id_save label{
  position: absolute;
  left: 50px;
  width: 100px;
}
.id_pw_find{
  width: 50%;
  text-align: right;
}
.id_pw_find a{
  width: 50%;
  display: inline-block;
  position: relative;
}
.id_pw_find a:nth-of-type(1)::after{
  content: '/';
  display: inline;
  position: absolute;
  right: -18px;
}
form .idwrap li{
  width: 100%;
  line-height: 50px;
}
form .idwrap li:nth-of-type(3){
  text-align: center;
  background-color: var(--bgColor);
  border:1px solid var(--bgColor);
  border-radius: 10px;
  margin-top: 30px;
}

form ul li:nth-of-type(3):hover{
  transition: all .3s;
  background-color: #fff;
  border:1px solid var(--pointColor);
}